@model SampleApplication.Models.ViewModels.MyAccountStatus

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">My E-Commerce Application</h3>
</div>


<h2 class="display-4">Account Information</h2>
<table class="table">

    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>

    <tr>
        <td>Personal Name</td>
        <td>@Model.ContactName</td>
    </tr>

    <tr>
        <td>Account Type</td>
        <td>@Model.AccountType</td>
    </tr>

    <tr>
        <td>Gold Reserve</td>
        <td>@Model.Gold.Sum(g => g.TroyOz) troy Oz of gold in @Model.Gold.Count pieces</td>
    </tr>

</table>

<h3 class="display-4">Gold reserve details</h3>
<table class="table">

    <th>Gold Purity (in karats)</th>
    <th>Piece Weight (in troy oz)</th>

    @foreach (var gold in Model.Gold)
    {
        <tr>
            <td>@gold.Purity</td>
            <td>@gold.TroyOz</td>
        </tr>

    }

</table>